*~
*.swp
*.swo
*tmp
assets/conf/                                                                                                                                                                                                                               
assets/tmp/  
